$clr-primary: white;
$clr-secondary: black;
$clr-btn: #d31c75;
$clr-box: #1a1a1ab9;

$ff-primary: "Heebo", sans-serif;

$fs-big: 2rem;
$fs-md: 1.4rem;
$fs-sm: 1.2rem;
$fs-s: 1rem;
$fs-xs: 0.9rem;
$fs-xxs: 0.75rem;

$fw-200: 200;
$fw-400: 400;
$fw-600: 600;
$fw-800: 800;
